* {
  border: 0;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
  color: var(--color-text);

  --color-background: #2f2e41;
  --color-destaque: #00bfa6;
  --color-text: #c2c2c2;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  min-height: 100vh;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono", monospace;
}

span {
  color: var(--color-destaque);
}

.content {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin-top: 71px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 64px;
  list-style: none;
}

header ul li a {
  font-size: 14px;
  font-weight: 500;
}

main {
  margin: 101px auto 157px;
  display: flex;
  justify-content: space-between;
  gap: 77px;
}

.text h1 {
  margin-bottom: 59px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: 500;
}

.divisor {
  width: 568px;
  border: 1px solid var(--color-destaque);
  margin-bottom: 28px;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 20px;
}
